table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


  .fa-edit{
    color: #5ccf1f;
    cursor: pointer;
  }
.fa-trash-alt{
    color:red;
    cursor: pointer;
}
 